body {
    background-color: hsl(212, 45%, 89%);
}

section {
    background-color: hsl(0, 0%, 100%);
    font-family: "Outfit", serif;
    border-radius: 20px;
    height: 570px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

img {
    max-width: 318px;
    max-height: 315px;
    border-radius: 20px;
    margin-top: 15px;
}

.titulo {
    text-align: center;
    padding: 10px;
    font-size: 13px;
    
}

.paragrafo {
    max-width: 280px;
    text-align: center;
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    padding-bottom: 20px; 

}
.rodape {
    font-family: "Outfit", serif;
    text-align: center;
    margin: 20px;
    padding: 20px;
    color: hsl(30, 10%, 34%);
    position: relative;
}
a {
    text-decoration: none;

}
a:hover{
    color: black;
}